<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="connected">Is connected?: {{ data.isConnected }}</div>
    <div id="block">Latest Block : {{ data.latestBlock}}</div>
    <div id="address">Ethereum Address:  {{ data.address }} </div>
    <div id="balance">Account Balance:  {{ data.balance }} ETH</div>    
    
</body>
</html>